<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>day34</display-name>
  <servlet>
  	<servlet-name>index</servlet-name>
  	<servlet-class>com.home.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>intro</servlet-name>
  	<servlet-class>com.home.controller.IntroController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>intro</servlet-name>
  	<url-pattern>/intro.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deptList</servlet-name>
  	<servlet-class>com.home.controller.DeptListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deptList</servlet-name>
  	<url-pattern>/dept/list.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deptAdd</servlet-name>
  	<servlet-class>com.home.controller.DeptAddController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deptAdd</servlet-name>
  	<url-pattern>/dept/add.do</url-pattern>
  </servlet-mapping>
</web-app>