<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              인제대학교
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">home</a></li>
            <li><a href="/intro">intro</a></li>
            <li><a href="/dept/">dept</a></li>
            <li><a href="/login/">login</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="page-header">list page (<%=msg%>)</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>deptno</th>
                    <th>dname</th>
                    <th>loc</th>
                </tr>
            </thead>
            <tbody>
                <% depts.forEach(function(bean){ %>
                <tr>
                    <td><a href="#"><%=bean.DEPTNO %></a></td>
                    <td><a href="#"><%=bean.DNAME %></a></td>
                    <td><a href="#"><%=bean.LOC %></a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>