<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            인제대학교
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">home</a></li>
          <li><a href="/intro">intro</a></li>
          <li><a href="/emp">emp</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2 class="page-header">로그인</h2>
      <form action="" method="post">
        <div class="form-group">
          <input type="text" name="deptno" placeholder="deptno" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" name="dname" placeholder="dname" class="form-control"/>
        </div>
        <div>
          <button class="btn btn-primary btn-block">로그인</button>
          <button type="reset" class="btn btn-default btn-block">취소</button>
        </div>
      </form>
    </div>
  </body>
</html>
