<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>day31</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>xmlAdd</servlet-name>
  	<servlet-class>com.bbs.xml.BbsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlAdd</servlet-name>
  	<url-pattern>/add.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xmlDel</servlet-name>
  	<servlet-class>com.bbs.xml.BbsDel</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlDel</servlet-name>
  	<url-pattern>/delete.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xmlEdit</servlet-name>
  	<servlet-class>com.bbs.xml.BbsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlEdit</servlet-name>
  	<url-pattern>/bbsEdit.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xmlOne</servlet-name>
  	<servlet-class>com.bbs.xml.BbsOne</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlOne</servlet-name>
  	<url-pattern>/bbs.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jsonList</servlet-name>
  	<servlet-class>com.bbs.json.BbsList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlList</servlet-name>
  	<url-pattern>/bbsList.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xmlList</servlet-name>
  	<servlet-class>com.bbs.xml.BbsList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jsonList</servlet-name>
  	<url-pattern>/bbsList.json</url-pattern>
  </servlet-mapping>
</web-app>